<div class="row">
    <div class="col-md-3">
        <label for="search">Pretraga</label>
        <input id="search" type="text" class="form-control" name="serach" [(ngModel)]="search" (input)="onInputSearch()"
            placeholder="Pretraži tehnološke postupke" />
    </div>
    <div class="col-md-3">
        <label for="sortBy">Sortiraj prema</label>
        <select id="sortBy" class="form-select" [(ngModel)]="sortBy"
            (ngModelChange)="getObjectOfLaborTechnologicalProcedures()">
            <option [ngValue]="'OrderOfExecution'" selected>Redosled izvršavanja</option>
            <option [ngValue]="'TechnologicalProcedureName'">Tehnološki postupak</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="sortBy">Redosled sortiranja</label>
        <select id="sortBy" class="form-select" [(ngModel)]="sortOrder"
            (ngModelChange)="getObjectOfLaborTechnologicalProcedures()">
            <option [ngValue]="'ASC'" selected>Rastuće</option>
            <option [ngValue]="'DESC'">Opadajuće</option>
        </select>
    </div>
</div>

<span class="col col-form-label" *ngIf="isLoading">Loading...</span>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Redosled izvršavanja</th>
            <th scope="col">Tehnološki postupak</th>
            <th scope="col">Tehnološki sistem</th>
            <th scope="col">Pogon</th>
            <th scope="col">Organizaciona jedinica</th>
            <th *ngIf="showCurrentState" scope="col">Stanje</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let objectOfLaborTechnologicalProcedure of objectOfLaborTechnologicalProcedures"
            (click)="onClickRow(objectOfLaborTechnologicalProcedure)">
            <td>{{ objectOfLaborTechnologicalProcedure.orderOfExecution }}</td>
            <td>{{ objectOfLaborTechnologicalProcedure.technologicalProcedureName }}</td>
            <td>{{ objectOfLaborTechnologicalProcedure.technologicalSystemName }}</td>
            <td>{{ objectOfLaborTechnologicalProcedure.plantName }}</td>
            <td>{{ objectOfLaborTechnologicalProcedure.organizationalUnitName }}</td>
            <td *ngIf="showCurrentState && currentTechnologicalProcedure !== null">
                <span
                    *ngIf="objectOfLaborTechnologicalProcedure.orderOfExecution && currentTechnologicalProcedure + 1 > objectOfLaborTechnologicalProcedure.orderOfExecution"
                    class="text-success">Završeno</span>
                <span *ngIf="currentTechnologicalProcedure + 1 === objectOfLaborTechnologicalProcedure.orderOfExecution"
                    class="text-warning">U
                    procesu izvršenja</span>
                <span
                    *ngIf="objectOfLaborTechnologicalProcedure.orderOfExecution && currentTechnologicalProcedure + 1 < objectOfLaborTechnologicalProcedure.orderOfExecution"
                    class="text-danger">Nije
                    započeto</span>
            </td>
            <td>
                <button *ngIf="showAdminButtons" type="button" class="btn btn-primary"
                    (click)="onClickUpdate($event, objectOfLaborTechnologicalProcedure)">Izmeni</button>
                <button *ngIf="showAdminButtons" type="button" class="btn btn-danger"
                    (click)="onClickDelete($event, objectOfLaborTechnologicalProcedure)">Obriši</button>
                <button
                    *ngIf="showFinishButton && currentTechnologicalProcedure && currentTechnologicalProcedure + 1 === objectOfLaborTechnologicalProcedure.orderOfExecution"
                    type="button" class="btn btn-success" (click)="onClickFinish($event)">Završi</button>
            </td>
        </tr>
    </tbody>
</table>

<ngb-progressbar
    *ngIf="showCurrentState && currentTechnologicalProcedure !== null && objectOfLaborTechnologicalProceduresTotalCount !== null"
    [showValue]="true" type="success"
    [value]="(currentTechnologicalProcedure / objectOfLaborTechnologicalProceduresTotalCount) * 100"></ngb-progressbar>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination *ngIf="objectOfLaborTechnologicalProceduresTotalCount"
        [collectionSize]="objectOfLaborTechnologicalProceduresTotalCount" [(page)]="page" [pageSize]="count"
        (pageChange)="getObjectOfLaborTechnologicalProcedures()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="count"
        (ngModelChange)="getObjectOfLaborTechnologicalProcedures()">
        <option [ngValue]="2">2 stavke po strani</option>
        <option [ngValue]="5">5 stavki po strani</option>
        <option [ngValue]="10">10 stavki po strani</option>
    </select>
</div>

<button *ngIf="showAdminButtons" type="button" class="btn btn-primary" (click)="onClickAdd()">Dodaj</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 *ngIf="operation==='REVIEW'" class="modal-title" id="modal-basic-title">Podaci o tehnološkom postupku za
            predmet rada</h4>
        <h4 *ngIf="operation==='CREATE'" class="modal-title" id="modal-basic-title">Novi tehnološki postupak za predmet
            rada</h4>
        <h4 *ngIf="operation==='UPDATE'" class="modal-title" id="modal-basic-title">Izmena podataka o tehnološkom
            postupku za predmet rada</h4>
        <h4 *ngIf="operation==='DELETE'" class="modal-title" id="modal-basic-title">Brisanje podataka o tehnološkom
            postupku za predmet rada</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="formGroup" (submit)="onSubmitForm()">
        <div class="modal-body">
            <div class="form-group">
                <label for="technologicalProcedure" [class.text-danger]="formGroup.get('technologicalProcedureId')?.invalid && 
                (formGroup.get('technologicalProcedureId')?.dirty ||
                formGroup.get('technologicalProcedureId')?.touched ||
                isSubmitted)">Tehnološki postupak</label>
                <select class="form-select" [class.is-invalid]="formGroup.get('technologicalProcedureId')?.invalid && 
                (formGroup.get('technologicalProcedureId')?.dirty ||
                formGroup.get('technologicalProcedureId')?.touched ||
                isSubmitted)" id="technologicalProcedureId" placeholder="Izaberite tehnološki postupak"
                    formControlName="technologicalProcedureId">
                    <option *ngFor="let technologicalProcedure of technologicalProcedures"
                        [value]="technologicalProcedure.technologicalProcedureId">{{
                        technologicalProcedure.technologicalProcedureName }}</option>
                </select>
                <span *ngIf="formGroup.get('technologicalProcedureId')?.hasError('required') && 
                (formGroup.get('technologicalProcedureId')?.dirty ||
                formGroup.get('technologicalProcedureId')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="orderOfExecution" [class.text-danger]="formGroup.get('orderOfExecution')?.invalid && 
                (formGroup.get('orderOfExecution')?.dirty ||
                formGroup.get('orderOfExecution')?.touched ||
                isSubmitted)">Redosled izvršavanja</label>
                <input type="number" class="form-control" [class.is-invalid]="formGroup.get('orderOfExecution')?.invalid && 
                (formGroup.get('orderOfExecution')?.dirty ||
                formGroup.get('orderOfExecution')?.touched ||
                isSubmitted)" id="orderOfExecution" placeholder="Unesite redosled izvršavanja"
                    formControlName="orderOfExecution">
                <span *ngIf="formGroup.get('orderOfExecution')?.hasError('required') && 
                (formGroup.get('orderOfExecution')?.dirty ||
                formGroup.get('orderOfExecution')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="operation==='CREATE' || operation==='UPDATE'" type="submit"
                class="btn btn-primary">Potvrdi</button>
            <button *ngIf="operation==='DELETE'" type="button" class="btn btn-danger"
                (click)=" deleteObjectOfLaborTechnologicalProcedure(formGroup.get('objectOfLaborTechnologicalProcedureId')?.value)">Obriši</button>
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Zatvori</button>
        </div>
    </form>
</ng-template>

<hr />

<pre>{{ closeResult }}</pre>

<ngb-toast class="text-light" *ngIf="toastMessage" [autohide]="true" (hidden)="onHideToast()"
    [ngClass]="isError ? 'bg-danger' : 'bg-success'">{{toastMessage}}</ngb-toast>