<div class="container info-section">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Nalozi za proizvodnju</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Informacije o nalozima za proizvodnju</h6>
            <div class="row">
                <div class="col-md-3">
                    <label for="search">Pretraga</label>
                    <input id="search" type="text" class="form-control" name="serach" [(ngModel)]="search"
                        (input)="onInputSearch()" placeholder="Pretraži naloge za proizvodnju" />
                </div>
                <div class="col-md-3">
                    <label for="sortBy">Sortiraj prema</label>
                    <select id="sortBy" class="form-select" [(ngModel)]="sortBy"
                        (ngModelChange)="getProductionOrders()">
                        <option [ngValue]="'StartDate'" selected>Datum početka</option>
                        <option [ngValue]="'EndDate'">Datum završetka</option>
                        <option [ngValue]="'ObjectOfLaborName'">Predmet rada</option>
                        <option [ngValue]="'Quantity'">Količina</option>
                        <option [ngValue]="'Manager'">Menadžer</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="sortBy">Redosled sortiranja</label>
                    <select id="sortBy" class="form-select" [(ngModel)]="sortOrder"
                        (ngModelChange)="getProductionOrders()">
                        <option [ngValue]="'ASC'" selected>Rastuće</option>
                        <option [ngValue]="'DESC'">Opadajuće</option>
                    </select>
                </div>
            </div>

            <span class="col col-form-label" *ngIf="isLoading">Loading...</span>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Datum početka</th>
                        <th scope="col">Datum završetka</th>
                        <th scope="col">Predmet rada</th>
                        <th scope="col">Količina</th>
                        <th scope="col">Menadžer</th>
                        <th scope="col">Stanje</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productionOrder of productionOrders"
                        [routerLink]="['/nalozi-za-proizvodnju', productionOrder.productionOrderId]">
                        <td>{{ productionOrder.startDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ productionOrder.endDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ productionOrder.objectOfLaborName }}</td>
                        <td>{{ productionOrder.quantity }}</td>
                        <td>{{ productionOrder.manager }}</td>
                        <td><ngb-progressbar type="success"
                                [value]="productionOrder.currentState ? productionOrder.currentState : 0"></ngb-progressbar>
                        </td>
                        <td>
                            <button
                                *ngIf="authService.isInRole(['Admin', 'Menadzer']) && productionOrder.managerEmail && authService.isCurrentUserEmail(productionOrder.managerEmail)"
                                type="button" class="btn btn-primary btn-edit"
                                (click)="onClickUpdate($event, productionOrder)">Izmeni</button>
                            <button
                                *ngIf="authService.isInRole(['Admin', 'Menadzer']) && productionOrder.managerEmail && authService.isCurrentUserEmail(productionOrder.managerEmail)"
                                type="button" class="btn btn-danger"
                                (click)="onClickDelete($event, productionOrder)">Obriši</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination *ngIf="productionOrdersTotalCount" [collectionSize]="productionOrdersTotalCount"
                    [(page)]="page" [pageSize]="count" (pageChange)="getProductionOrders()">
                </ngb-pagination>

                <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="count"
                    (ngModelChange)="getProductionOrders()">
                    <option [ngValue]="2">2 stavke po strani</option>
                    <option [ngValue]="5">5 stavki po strani</option>
                    <option [ngValue]="10">10 stavki po strani</option>
                </select>
            </div>

            <button *ngIf="authService.isInRole(['Admin', 'Menadzer'])" type="button" class="btn btn-primary btn-add"
                (click)="onClickAdd()">Dodaj</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 *ngIf="operation==='REVIEW'" class="modal-title" id="modal-basic-title">Podaci o nalogu za proizvodnju</h4>
        <h4 *ngIf="operation==='CREATE'" class="modal-title" id="modal-basic-title">Novi nalog za proizvodnju</h4>
        <h4 *ngIf="operation==='UPDATE'" class="modal-title" id="modal-basic-title">Izmena podataka o nalogu za
            proizvodnju</h4>
        <h4 *ngIf="operation==='DELETE'" class="modal-title" id="modal-basic-title">Brisanje podataka o nalogu za
            proizvodnju</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="formGroup" (submit)="onSubmitForm()">
        <div class="modal-body">
            <div class="form-group">
                <label for="startDate" [class.text-danger]="formGroup.get('startDate')?.invalid && 
                    (formGroup.get('startDate')?.dirty ||
                    formGroup.get('startDate')?.touched ||
                    isSubmitted)">Datum početka</label>
                <input class="form-control" [class.is-invalid]="formGroup.get('startDate')?.invalid && 
                (formGroup.get('startDate')?.dirty ||
                formGroup.get('startDate')?.touched ||
                isSubmitted)" placeholder="Izaberite dadum početka" name="dp" ngbDatepicker
                    #dpStartDate="ngbDatepicker" formControlName="startDate" (click)="dpStartDate.toggle()" />
                <!-- <button class="btn btn-outline-secondary bi bi-calendar3" type="button" (click)="d.toggle()"></button> -->
                <span *ngIf="formGroup.get('startDate')?.hasError('startDate') && 
                    (formGroup.get('startDate')?.dirty ||
                    formGroup.get('startDate')?.touched ||
                    isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="endDate" [class.text-danger]="formGroup.get('endDate')?.invalid && 
                    (formGroup.get('endDate')?.dirty ||
                    formGroup.get('endDate')?.touched ||
                    isSubmitted)">Datum završetka</label>
                <input class="form-control" [class.is-invalid]="formGroup.get('endDate')?.invalid && 
                (formGroup.get('endDate')?.dirty ||
                formGroup.get('endDate')?.touched ||
                isSubmitted)" placeholder="Izaberite dadum završetka" name="dp" ngbDatepicker
                    #dpEndDate="ngbDatepicker" formControlName="endDate" (click)="dpEndDate.toggle()" />
                <span *ngIf=" formGroup.get('endDate')?.hasError('endDate') && (formGroup.get('endDate')?.dirty ||
                    formGroup.get('endDate')?.touched || isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="quantity" [class.text-danger]="formGroup.get('quantity')?.invalid && 
                (formGroup.get('quantity')?.dirty ||
                formGroup.get('quantity')?.touched ||
                isSubmitted)">Količina</label>
                <input type="number" class="form-control" [class.is-invalid]="formGroup.get('quantity')?.invalid && 
                (formGroup.get('quantity')?.dirty ||
                formGroup.get('quantity')?.touched ||
                isSubmitted)" id="quantity" placeholder="Unesite količinu" formControlName="quantity">
                <span *ngIf="formGroup.get('quantity')?.hasError('required') && 
                (formGroup.get('quantity')?.dirty ||
                formGroup.get('quantity')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="note">Napomena</label>
                <textarea type="text" class="form-control" id="note" placeholder="Unesite napomenu"
                    formControlName="note"></textarea>
            </div>
            <div *ngIf="operation==='REVIEW'" class="form-group">
                <label for="manager">Menadžer</label>
                <input type="text" class="form-control" id="manager" formControlName="manager">
            </div>
            <div class="form-group">
                <label for="objectOfLaborId" [class.text-danger]="formGroup.get('objectOfLaborId')?.invalid && 
                    (formGroup.get('objectOfLaborId')?.dirty ||
                    formGroup.get('objectOfLaborId')?.touched ||
                    isSubmitted)">Predmet rada</label>
                <select class="form-select" [class.is-invalid]="formGroup.get('objectOfLaborId')?.invalid && 
                    (formGroup.get('objectOfLaborId')?.dirty ||
                    formGroup.get('objectOfLaborId')?.touched ||
                    isSubmitted)" id="objectOfLaborId" placeholder="Unesite predmet rada"
                    formControlName="objectOfLaborId">
                    <option *ngFor="let objectOfLabor of objectOfLabors" [value]="objectOfLabor.objectOfLaborId">{{
                        objectOfLabor.objectOfLaborName }}</option>
                </select>
                <span *ngIf="formGroup.get('objectOfLaborId')?.hasError('required') && 
                    (formGroup.get('objectOfLaborId')?.dirty ||
                    formGroup.get('objectOfLaborId')?.touched ||
                    isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="operation==='CREATE' || operation==='UPDATE'" type="submit"
                class="btn btn-primary">Potvrdi</button>
            <button *ngIf="operation==='DELETE'" type="button" class="btn btn-danger"
                (click)=" deleteProductionOrder(formGroup.get('productionOrderId')?.value)">Obriši</button>
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Zatvori</button>
        </div>
    </form>
</ng-template>

<div class="container">
    <ngb-toast class="text-light toast-message" *ngIf="toastMessage" [autohide]="true" (hidden)="onHideToast()"
        [ngClass]="isError ? 'bg-danger' : 'bg-success'">{{toastMessage}}</ngb-toast>
</div>