<div class="row">
    <div class="col-md-3">
        <label for="search">Pretraga</label>
        <input id="search" type="text" class="form-control" name="serach" [(ngModel)]="search" (input)="onInputSearch()"
            placeholder="Pretraži materijale" />
    </div>
    <div class="col-md-3">
        <label for="sortBy">Sortiraj prema</label>
        <select id="sortBy" class="form-select" [(ngModel)]="sortBy" (ngModelChange)="getObjectOfLaborMaterials()">
            <option [ngValue]="'MaterialName'" selected>Naziv materijala</option>
            <option [ngValue]="'Quantity'">Potrebna količina</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="sortBy">Redosled sortiranja</label>
        <select id="sortBy" class="form-select" [(ngModel)]="sortOrder" (ngModelChange)="getObjectOfLaborMaterials()">
            <option [ngValue]="'ASC'" selected>Rastuće</option>
            <option [ngValue]="'DESC'">Opadajuće</option>
        </select>
    </div>
</div>

<span class="col col-form-label" *ngIf="isLoading">Loading...</span>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Materijal</th>
            <th scope="col">Potrebna količina</th>
            <th scope="col">Količina na zalihama</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let objectOfLaborMaterial of objectOfLaborMaterials" (click)="onClickRow(objectOfLaborMaterial)">
            <td>{{ objectOfLaborMaterial.materialName }}</td>
            <td>{{ objectOfLaborMaterial.quantity }}</td>
            <td>{{ objectOfLaborMaterial.stockQuantity }}</td>
            <td>
                <button *ngIf="authService.isInRole(['Admin'])" type="button" class="btn btn-primary btn-edit"
                    (click)="onClickUpdate($event, objectOfLaborMaterial)">Izmeni</button>
                <button *ngIf="authService.isInRole(['Admin'])" type="button" class="btn btn-danger"
                    (click)="onClickDelete($event, objectOfLaborMaterial)">Obriši</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination *ngIf="objectOfLaborMaterialsTotalCount" [collectionSize]="objectOfLaborMaterialsTotalCount"
        [(page)]="page" [pageSize]="count" (pageChange)="getObjectOfLaborMaterials()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="count"
        (ngModelChange)="getObjectOfLaborMaterials()">
        <option [ngValue]="2">2 stavke po strani</option>
        <option [ngValue]="5">5 stavki po strani</option>
        <option [ngValue]="10">10 stavki po strani</option>
    </select>
</div>

<button *ngIf="authService.isInRole(['Admin'])" type="button" class="btn btn-primary btn-add"
    (click)="onClickAdd()">Dodaj</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 *ngIf="operation==='REVIEW'" class="modal-title" id="modal-basic-title">Podaci o materijalu za
            predmet rada</h4>
        <h4 *ngIf="operation==='CREATE'" class="modal-title" id="modal-basic-title">Novi materijal za predmet
            rada</h4>
        <h4 *ngIf="operation==='UPDATE'" class="modal-title" id="modal-basic-title">Izmena podataka o materijalu
            za predmet rada</h4>
        <h4 *ngIf="operation==='DELETE'" class="modal-title" id="modal-basic-title">Brisanje podataka o materijalu
            za predmet rada</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="formGroup" (submit)="onSubmitForm()">
        <div class="modal-body">
            <div class="form-group">
                <label for="materialId" [class.text-danger]="formGroup.get('materialId')?.invalid && 
                (formGroup.get('materialId')?.dirty ||
                formGroup.get('materialId')?.touched ||
                isSubmitted)">Materijal</label>
                <select class="form-select" [class.is-invalid]="formGroup.get('materialId')?.invalid && 
                (formGroup.get('materialId')?.dirty ||
                formGroup.get('materialId')?.touched ||
                isSubmitted)" id="materialId" placeholder="Izaberite materijal" formControlName="materialId">
                    <option *ngFor="let material of materials" [value]="material.materialId">{{
                        material.materialName }}</option>
                </select>
                <span *ngIf="formGroup.get('materialId')?.hasError('required') && 
                (formGroup.get('materialId')?.dirty ||
                formGroup.get('materialId')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="quantity" [class.text-danger]="formGroup.get('quantity')?.invalid && 
                (formGroup.get('quantity')?.dirty ||
                formGroup.get('quantity')?.touched ||
                isSubmitted)">Količina</label>
                <input type="number" class="form-control" [class.is-invalid]="formGroup.get('quantity')?.invalid && 
                (formGroup.get('quantity')?.dirty ||
                formGroup.get('quantity')?.touched ||
                isSubmitted)" id="quantity" placeholder="Unesite potrebnu količinu" formControlName="quantity">
                <span *ngIf="formGroup.get('quantity')?.hasError('required') && 
                (formGroup.get('quantity')?.dirty ||
                formGroup.get('quantity')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="operation==='CREATE' || operation==='UPDATE'" type="submit"
                class="btn btn-primary">Potvrdi</button>
            <button *ngIf="operation==='DELETE'" type="button" class="btn btn-danger"
                (click)=" deleteObjectOfLaborMaterial(formGroup.get('objectOfLaborMaterialId')?.value)">Obriši</button>
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Zatvori</button>
        </div>
    </form>
</ng-template>

<div class="container">
    <ngb-toast class="text-light toast" *ngIf="toastMessage" [autohide]="true" (hidden)="onHideToast()"
        [ngClass]="isError ? 'bg-danger' : 'bg-success'">{{toastMessage}}</ngb-toast>
</div>