<div class="row">
    <div class="col-md-3">
        <label for="search">Pretraga</label>
        <input id="search" type="text" class="form-control" name="serach" [(ngModel)]="search" (input)="onInputSearch()"
            placeholder="Pretraži tehnološke postupke" />
    </div>
    <div class="col-md-3">
        <label for="sortBy">Sortiraj prema</label>
        <select id="sortBy" class="form-select" [(ngModel)]="sortBy" (ngModelChange)="getTechnologicalProcedures()">
            <option [ngValue]="'TechnologicalProcedureName'" selected>Naziv tehnološkog postupka</option>
            <option [ngValue]="'Duration'">Vreme trajanja</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="sortBy">Redosled sortiranja</label>
        <select id="sortBy" class="form-select" [(ngModel)]="sortOrder" (ngModelChange)="getTechnologicalProcedures()">
            <option [ngValue]="'ASC'" selected>Rastuće</option>
            <option [ngValue]="'DESC'">Opadajuće</option>
        </select>
    </div>
</div>

<span class="col col-form-label" *ngIf="isLoading">Loading...</span>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Naziv tehnološkog postupka</th>
            <th scope="col">Vreme trajanja</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let technologicalProcedure of technologicalProcedures" (click)="onClickRow(technologicalProcedure)">
            <td>{{ technologicalProcedure.technologicalProcedureName }}</td>
            <td>{{ technologicalProcedure.duration }}</td>
            <td>
                <button type="button" class="btn btn-primary"
                    (click)="onClickUpdate($event, technologicalProcedure)">Izmeni</button>
                <button type="button" class="btn btn-danger"
                    (click)="onClickDelete($event, technologicalProcedure)">Obriši</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination *ngIf="technologicalProceduresTotalCount" [collectionSize]="technologicalProceduresTotalCount"
        [(page)]="page" [pageSize]="count" (pageChange)="getTechnologicalProcedures()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="count"
        (ngModelChange)="getTechnologicalProcedures()">
        <option [ngValue]="2">2 stavke po strani</option>
        <option [ngValue]="5">5 stavki po strani</option>
        <option [ngValue]="10">10 stavki po strani</option>
    </select>
</div>

<button type="button" class="btn btn-primary" (click)="onClickAdd()">Dodaj</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 *ngIf="operation==='REVIEW'" class="modal-title" id="modal-basic-title">Podaci o tehnološkom postupku</h4>
        <h4 *ngIf="operation==='CREATE'" class="modal-title" id="modal-basic-title">Novi tehnološki postupak</h4>
        <h4 *ngIf="operation==='UPDATE'" class="modal-title" id="modal-basic-title">Izmena podataka o tehnološkom
            postupku</h4>
        <h4 *ngIf="operation==='DELETE'" class="modal-title" id="modal-basic-title">Brisanje podataka o tehnološkom
            posutpku</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="formGroup" (submit)="onSubmitForm()">
        <div class="modal-body">
            <div class="form-group">
                <label for="technologicalProcedureName" [class.text-danger]="formGroup.get('technologicalProcedureName')?.invalid && 
                (formGroup.get('technologicalProcedureName')?.dirty ||
                formGroup.get('technologicalProcedureName')?.touched ||
                isSubmitted)">Naziv tehnološkog postupka</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('technologicalProcedureName')?.invalid && 
                (formGroup.get('technologicalProcedureName')?.dirty ||
                formGroup.get('technologicalProcedureName')?.touched ||
                isSubmitted)" id="technologicalProcedureName" placeholder="Unesite naziv tehnološkog postupka"
                    formControlName="technologicalProcedureName">
                <span *ngIf="formGroup.get('technologicalProcedureName')?.hasError('required') && 
                (formGroup.get('technologicalProcedureName')?.dirty ||
                formGroup.get('technologicalProcedureName')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="duration" [class.text-danger]="formGroup.get('duration')?.invalid && 
                (formGroup.get('duration')?.dirty ||
                formGroup.get('duration')?.touched ||
                isSubmitted)">Vreme trajanja</label>
                <input type="number" class="form-control" [class.is-invalid]="formGroup.get('duration')?.invalid && 
                (formGroup.get('duration')?.dirty ||
                formGroup.get('duration')?.touched ||
                isSubmitted)" id="duration" placeholder="Unesite vreme trajanja" formControlName="duration">
                <span *ngIf="formGroup.get('duration')?.hasError('required') && 
                (formGroup.get('duration')?.dirty ||
                formGroup.get('duration')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="organizationalUnit" [class.text-danger]="formGroup.get('organizationalUnitId')?.invalid && 
                (formGroup.get('organizationalUnitId')?.dirty ||
                formGroup.get('organizationalUnitId')?.touched ||
                isSubmitted)">Organizaciona jedinica</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('organizationalUnitId')?.invalid && 
                (formGroup.get('organizationalUnitId')?.dirty ||
                formGroup.get('organizationalUnitId')?.touched ||
                isSubmitted)" id="organizationalUnit" placeholder="Unesite organizacionu jedinicu"
                    formControlName="organizationalUnitId">
                <span *ngIf="formGroup.get('organizationalUnitId')?.hasError('required') && 
                (formGroup.get('organizationalUnitId')?.dirty ||
                formGroup.get('organizationalUnitId')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="plant" [class.text-danger]="formGroup.get('plantId')?.invalid && 
                (formGroup.get('plantId')?.dirty ||
                formGroup.get('plantId')?.touched ||
                isSubmitted)">Pogon</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('plantId')?.invalid && 
                (formGroup.get('plantId')?.dirty ||
                formGroup.get('plantId')?.touched ||
                isSubmitted)" id="plant" placeholder="Unesite pogon" formControlName="plantId">
                <span *ngIf="formGroup.get('plantId')?.hasError('required') && 
                    (formGroup.get('plantId')?.dirty ||
                    formGroup.get('plantId')?.touched ||
                    isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="technologicalSystem" [class.text-danger]="formGroup.get('technologicalSystemId')?.invalid && 
                (formGroup.get('technologicalSystemId')?.dirty ||
                formGroup.get('technologicalSystemId')?.touched ||
                isSubmitted)">Tehnološki sistem</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('technologicalSystemId')?.invalid && 
                (formGroup.get('technologicalSystemId')?.dirty ||
                formGroup.get('technologicalSystemId')?.touched ||
                isSubmitted)" id="technologicalSystem" placeholder="Unesite tehnološki sistem"
                    formControlName="technologicalSystemId">
                <span *ngIf="formGroup.get('technologicalSystemId')?.hasError('required') && 
                    (formGroup.get('technologicalSystemId')?.dirty ||
                    formGroup.get('technologicalSystemId')?.touched ||
                    isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="operation==='CREATE' || operation==='UPDATE'" type="submit"
                class="btn btn-primary">Potvrdi</button>
            <button *ngIf="operation==='DELETE'" type="button" class="btn btn-danger"
                (click)=" deleteTechnologicalProcedure(formGroup.get('TechnologicalProcedureId')?.value)">Obriši</button>
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Zatvori</button>
        </div>
    </form>
</ng-template>

<hr />

<pre>{{ closeResult }}</pre>

<ngb-toast class="text-light" *ngIf="toastMessage" [autohide]="true" (hidden)="onHideToast()"
    [ngClass]="isError ? 'bg-danger' : 'bg-success'">{{toastMessage}}</ngb-toast>