<div class="container info-section">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Radnici</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Informacije o radnicima</h6>
            <div class="row">
                <div class="col-md-3">
                    <label for="search">Pretraga</label>
                    <input id="search" type="text" class="form-control" name="serach" [(ngModel)]="search"
                        (input)="onInputSearch()" placeholder="Pretraži radnike" />
                </div>
                <div class="col-md-3">
                    <label for="sortBy">Sortiraj prema</label>
                    <select id="sortBy" class="form-select" [(ngModel)]="sortBy" (ngModelChange)="getEmployees()">
                        <option [ngValue]="'LastName'" selected>Prezime</option>
                        <option [ngValue]="'FirstName'">Ime</option>
                        <option [ngValue]="'Email'">Email</option>
                        <option [ngValue]="'City'">Grad</option>
                        <option [ngValue]="'Address'">Adresa</option>
                        <option [ngValue]="'WorkplaceName'">Radno mesto</option>
                        <option [ngValue]="'OrganizationalUnitName'">Organizaciona jedinica</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="sortBy">Redosled sortiranja</label>
                    <select id="sortBy" class="form-select" [(ngModel)]="sortOrder" (ngModelChange)="getEmployees()">
                        <option [ngValue]="'ASC'" selected>Rastuće</option>
                        <option [ngValue]="'DESC'">Opadajuće</option>
                    </select>
                </div>
            </div>

            <span class="col col-form-label" *ngIf="isLoading">Loading...</span>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Prezime</th>
                        <th scope="col">Ime</th>
                        <th scope="col">Email</th>
                        <th scope="col">Grad</th>
                        <th scope="col">Adresa</th>
                        <th scope="col">Radno mesto</th>
                        <th scope="col">Organizaciona jedinica</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees" (click)="onClickRow(employee)">
                        <td>{{ employee.lastName }}</td>
                        <td>{{ employee.firstName }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.city }}</td>
                        <td>{{ employee.address }}</td>
                        <td>{{ employee.workplaceName }}</td>
                        <td>{{ employee.organizationalUnitName }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-edit"
                                (click)="onClickUpdate($event, employee)">Izmeni</button>
                            <button type="button" class="btn btn-danger"
                                (click)="onClickDelete($event, employee)">Obriši</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination *ngIf="employeesTotalCount" [collectionSize]="employeesTotalCount" [(page)]="page"
                    [pageSize]="count" (pageChange)="getEmployees()">
                </ngb-pagination>

                <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="count"
                    (ngModelChange)="getEmployees()">
                    <option [ngValue]="2">2 stavke po strani</option>
                    <option [ngValue]="5">5 stavki po strani</option>
                    <option [ngValue]="10">10 stavki po strani</option>
                </select>
            </div>

            <button type="button" class="btn btn-primary btn-add" (click)="onClickAdd()">Dodaj</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 *ngIf="operation==='REVIEW'" class="modal-title" id="modal-basic-title">Podaci o radniku</h4>
        <h4 *ngIf="operation==='CREATE'" class="modal-title" id="modal-basic-title">Novi radnik</h4>
        <h4 *ngIf="operation==='UPDATE'" class="modal-title" id="modal-basic-title">Izmena podataka o radniku</h4>
        <h4 *ngIf="operation==='DELETE'" class="modal-title" id="modal-basic-title">Brisanje podataka o radniku</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="formGroup" (submit)="onSubmitForm()">
        <div class="modal-body">
            <div class="form-group">
                <label for="firstName" [class.text-danger]="formGroup.get('firstName')?.invalid && 
                (formGroup.get('firstName')?.dirty ||
                formGroup.get('firstName')?.touched ||
                isSubmitted)">Ime</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('firstName')?.invalid && 
                (formGroup.get('firstName')?.dirty ||
                formGroup.get('firstName')?.touched ||
                isSubmitted)" id="firstName" placeholder="Unesite ime" formControlName="firstName">
                <span *ngIf="formGroup.get('firstName')?.hasError('required') && 
                (formGroup.get('firstName')?.dirty ||
                formGroup.get('firstName')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="lastName" [class.text-danger]="formGroup.get('lastName')?.invalid && 
                (formGroup.get('lastName')?.dirty ||
                formGroup.get('lastName')?.touched ||
                isSubmitted)">Prezime</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('lastName')?.invalid && 
                (formGroup.get('lastName')?.dirty ||
                formGroup.get('lastName')?.touched ||
                isSubmitted)" id="lastName" placeholder="Unesite prezime" formControlName="lastName">
                <span *ngIf="formGroup.get('lastName')?.hasError('required') && 
                (formGroup.get('lastName')?.dirty ||
                formGroup.get('lastName')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="email" [class.text-danger]="formGroup.get('email')?.invalid && 
                (formGroup.get('email')?.dirty ||
                formGroup.get('email')?.touched ||
                isSubmitted)">Email</label>
                <input type="email" class="form-control" [class.is-invalid]="formGroup.get('email')?.invalid && 
                (formGroup.get('email')?.dirty ||
                formGroup.get('email')?.touched ||
                isSubmitted)" id="email" placeholder="Unesite email" formControlName="email">
                <span *ngIf="formGroup.get('email')?.hasError('required') && 
                (formGroup.get('email')?.dirty ||
                formGroup.get('email')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
                <span *ngIf="formGroup.get('email')?.hasError('email') &&
                (formGroup.get('email')?.dirty
                || formGroup.get('email')?.touched
                || isSubmitted)" class="text-danger">Email adresa mora biti u ispravnom formatu</span>
            </div>
            <div *ngIf="operation==='CREATE' || operation==='UPDATE'" class="form-group">
                <label for="password" [class.text-danger]="formGroup.get('password')?.invalid && 
                (formGroup.get('password')?.dirty ||
                formGroup.get('password')?.touched ||
                isSubmitted)">Lozinka</label>
                <input type="password" class="form-control" [class.is-invalid]="formGroup.get('password')?.invalid && 
                (formGroup.get('password')?.dirty ||
                formGroup.get('password')?.touched ||
                isSubmitted)" id="password" placeholder="Lozinka" formControlName="password">
                <span *ngIf="formGroup.get('password')?.hasError('required') && 
                (formGroup.get('password')?.dirty ||
                formGroup.get('password')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div *ngIf="operation==='CREATE' || operation==='UPDATE'" class="form-group">
                <label for="confirmPassword" [class.text-danger]="formGroup.get('confirmPassword')?.invalid && 
                (formGroup.get('confirmPassword')?.dirty ||
                formGroup.get('confirmPassword')?.touched ||
                isSubmitted)">Potvrda lozinke</label>
                <input type="password" class="form-control" [class.is-invalid]="formGroup.get('confirmPassword')?.invalid && 
                (formGroup.get('confirmPassword')?.dirty ||
                formGroup.get('confirmPassword')?.touched ||
                isSubmitted)" id="confirmPassword" placeholder="Potvrda lozinke" formControlName="confirmPassword">
                <span *ngIf="formGroup.get('confirmPassword')?.hasError('required') && 
                (formGroup.get('confirmPassword')?.dirty ||
                formGroup.get('confirmPassword')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="jmbg" [class.text-danger]="formGroup.get('jmbg')?.invalid && 
                (formGroup.get('jmbg')?.dirty ||
                formGroup.get('jmbg')?.touched ||
                isSubmitted)">JMBG</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('jmbg')?.invalid && 
                (formGroup.get('jmbg')?.dirty ||
                formGroup.get('jbmg')?.touched ||
                isSubmitted)" id="jmbg" placeholder="Unesite JMBG" formControlName="jmbg">
                <span *ngIf="formGroup.get('jmbg')?.hasError('required') && 
                (formGroup.get('jmbg')?.dirty ||
                formGroup.get('jmbg')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="phoneNumber" [class.text-danger]="formGroup.get('phoneNumber')?.invalid && 
                (formGroup.get('phoneNumber')?.dirty ||
                formGroup.get('phoneNumber')?.touched ||
                isSubmitted)">Broj telefona</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('phoneNumber')?.invalid && 
                (formGroup.get('phoneNumber')?.dirty ||
                formGroup.get('proneNumber')?.touched ||
                isSubmitted)" id="phoneNumber" placeholder="Unesite broj telefona" formControlName="phoneNumber">
                <span *ngIf="formGroup.get('phoneNumber')?.hasError('required') && 
                (formGroup.get('phoneNumber')?.dirty ||
                formGroup.get('phoneNumber')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="address" [class.text-danger]="formGroup.get('address')?.invalid && 
                (formGroup.get('address')?.dirty ||
                formGroup.get('address')?.touched ||
                isSubmitted)">Adresa</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('address')?.invalid && 
                (formGroup.get('address')?.dirty ||
                formGroup.get('address')?.touched ||
                isSubmitted)" id="address" placeholder="Unesite adresu" formControlName="address">
                <span *ngIf="formGroup.get('address')?.hasError('required') && 
                (formGroup.get('address')?.dirty ||
                formGroup.get('address')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="city" [class.text-danger]="formGroup.get('city')?.invalid && 
                (formGroup.get('city')?.dirty ||
                formGroup.get('city')?.touched ||
                isSubmitted)">Grad</label>
                <input type="text" class="form-control" [class.is-invalid]="formGroup.get('city')?.invalid && 
                (formGroup.get('city')?.dirty ||
                formGroup.get('city')?.touched ||
                isSubmitted)" id="city" placeholder="Unesite grad" formControlName="city">
                <span *ngIf="formGroup.get('city')?.hasError('required') && 
                (formGroup.get('city')?.dirty ||
                formGroup.get('city')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="sallary" [class.text-danger]="formGroup.get('sallary')?.invalid && 
                (formGroup.get('sallary')?.dirty ||
                formGroup.get('sallary')?.touched ||
                isSubmitted)">Plata</label>
                <input type="number" class="form-control" [class.is-invalid]="formGroup.get('sallary')?.invalid && 
                (formGroup.get('sallary')?.dirty ||
                formGroup.get('sallary')?.touched ||
                isSubmitted)" id="sallary" placeholder="Unesite platu" formControlName="sallary">
                <span *ngIf="formGroup.get('sallary')?.hasError('required') && 
                (formGroup.get('sallary')?.dirty ||
                formGroup.get('sallary')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="dateOfEmployment" [class.text-danger]="formGroup.get('dateOfEmployment')?.invalid && 
                (formGroup.get('dateOfEmployment')?.dirty ||
                formGroup.get('dateOfEmployment')?.touched ||
                isSubmitted)">Datum zaposlenja</label>
                <input class="form-control" [class.is-invalid]="formGroup.get('dateOfEmployment')?.invalid && 
                    (formGroup.get('dateOfEmployment')?.dirty ||
                    formGroup.get('dateOfEmployment')?.touched ||
                    isSubmitted)" placeholder="Izaberite dadum zaposlenja" name="dp" ngbDatepicker
                    #dpDateOfEmployment="ngbDatepicker" formControlName="dateOfEmployment"
                    (click)="dpDateOfEmployment.toggle()" />
                <span *ngIf="formGroup.get('dateOfEmployment')?.hasError('dateOfEmployment') && 
                    (formGroup.get('dateOfEmployment')?.dirty ||
                    formGroup.get('dateOfEmployment')?.touched ||
                    isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="workplaceId" [class.text-danger]="formGroup.get('workplaceId')?.invalid && 
                (formGroup.get('workplaceId')?.dirty ||
                formGroup.get('workplaceId')?.touched ||
                isSubmitted)">Radno mesto</label>
                <select class="form-select" [class.is-invalid]="formGroup.get('workplaceId')?.invalid && 
                (formGroup.get('workplaceId')?.dirty ||
                formGroup.get('workplaceId')?.touched ||
                isSubmitted)" id="workplaceId" placeholder="Unesite radno mesto" formControlName="workplaceId">
                    <option *ngFor="let workplace of workplaces" [value]="workplace.workplaceId">{{
                        workplace.workplaceName }}</option>
                </select>
                <span *ngIf="formGroup.get('workplaceId')?.hasError('required') && 
                (formGroup.get('workplaceId')?.dirty ||
                formGroup.get('workplaceId')?.touched ||
                isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
            <div class="form-group">
                <label for="organizationalUnitId" [class.text-danger]="formGroup.get('organizationalUnitId')?.invalid && 
                (formGroup.get('organizationalUnitId')?.dirty ||
                formGroup.get('organizationalUnitId')?.touched ||
                isSubmitted)">Organizaciona jedinica</label>
                <select class="form-select" [class.is-invalid]="formGroup.get('organizationalUnitId')?.invalid && 
                (formGroup.get('organizationalUnitId')?.dirty ||
                formGroup.get('organizationalUnitId')?.touched ||
                isSubmitted)" id="organizationalUnitId" placeholder="Unesite organizacionu jedinicu"
                    formControlName="organizationalUnitId">
                    <option *ngFor="let organizationalUnit of organizationalUnits"
                        [value]="organizationalUnit.organizationalUnitId">{{
                        organizationalUnit.organizationalUnitName }}</option>
                </select>
                <span *ngIf="formGroup.get('organizationalUnitId')?.hasError('required') && 
                    (formGroup.get('organizationalUnitId')?.dirty ||
                    formGroup.get('organizationalUnitId')?.touched ||
                    isSubmitted)" class="text-danger">Ovo polje je obavezno</span>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="operation==='CREATE' || operation==='UPDATE'" type="submit"
                class="btn btn-primary">Potvrdi</button>
            <button *ngIf="operation==='DELETE'" type="button" class="btn btn-danger"
                (click)=" deleteEmployee(formGroup.get('employeeId')?.value)">Obriši</button>
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Zatvori</button>
        </div>
    </form>
</ng-template>

<div class="container">
    <ngb-toast class="text-light toast" *ngIf="toastMessage" [autohide]="true" (hidden)="onHideToast()"
        [ngClass]="isError ? 'bg-danger' : 'bg-success'">{{toastMessage}}</ngb-toast>
</div>