<div *ngIf="objectOfLabor" class="container card info-section">
    <div class="card-body">
        <h5 class="card-title">{{ objectOfLabor.objectOfLaborName }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Informacije</h6>
        <p class="card-text">{{ objectOfLabor.description }}</p>
        <ul>
            <li *ngIf="warehouse" class="card-text">Skladište: {{ objectOfLabor.warehouseFullAddress }}}</li>
            <li class="card-text">Količina na zalihama: {{ objectOfLabor.stockQuantity | number }}</li>
            <li class="card-text">Cena: {{ objectOfLabor.price | number: '.2-2' }} RSD</li>
        </ul>
    </div>
</div>

<div *ngIf="objectOfLabor" class="container card procedures-section">
    <div class="card-body">
        <h5 class="card-title">Spisak tehnoloških postupaka</h5>
        <app-object-of-labor-technological-procedure *ngIf="objectOfLabor.objectOfLaborId"
            [objectOfLaborId]="objectOfLabor.objectOfLaborId" [showAdminButtons]="true"
            [showFinishButton]="false"></app-object-of-labor-technological-procedure>
    </div>
</div>

<div *ngIf="objectOfLabor" class="container card procedures-section">
    <div class="card-body">
        <h5 class="card-title">Spisak potrebnih materijala</h5>
        <app-object-of-labor-material *ngIf="objectOfLabor.objectOfLaborId"
            [objectOfLaborId]="objectOfLabor.objectOfLaborId"></app-object-of-labor-material>
    </div>
</div>

<div class="container">
    <ngb-toast class="text-light toast" *ngIf="toastMessage" [autohide]="true" (hidden)="onHideToast()"
        [ngClass]="isError ? 'bg-danger' : 'bg-success'">{{toastMessage}}</ngb-toast>
</div>