<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/employee">Radnici</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/workplace">Radna mesta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/organizationalUnit">Organizacione jedinice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productionOrder">Nalozi za proizvodnju</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/objectOfLabor">Predmeti rada</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productionPlan">Planovi proizvodnje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/warehouse">Skladišta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/technologicalProcedure">Tehnološki postupci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/technologicalSystem">Tehnološki sistemi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/plant">Pogoni</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>