<div *ngIf="productionOrder" class="container card info-section">
    <div class="card-body">
        <h5 class="card-title">Proizvodni nalog</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Informacije</h6>
        <ul>
            <li class="card-text">Datum početka: {{ productionOrder.startDate | date: 'dd/MM/yyyy' }}</li>
            <li class="card-text">Datum završetka: {{ productionOrder.endDate | date: 'dd/MM/yyyy' }}</li>
            <li class="card-text" [routerLink]="['/predmeti-rada', productionOrder.objectOfLaborId]">Predmet rada: {{
                productionOrder.objectOfLaborName }}</li>
            <li class="card-text">Količinа: {{ productionOrder.quantity }}</li>
            <li class="card-text">Menadžer: {{ productionOrder.manager }}</li>
        </ul>
        <p class="card-text">{{ productionOrder.note }}</p>
    </div>
</div>

<div *ngIf="productionOrder" class="container card procedures-section">
    <div class="card-body">
        <h5 class="card-title">Spisak tehnoloških postupaka</h5>
        <app-object-of-labor-technological-procedure *ngIf="productionOrder.objectOfLaborId"
            [objectOfLaborId]="productionOrder.objectOfLaborId" [showCurrentState]="true"
            [currentTechnologicalProcedure]="productionOrder.currentTechnologicalProcedure"
            [currentTechnologicalProcedureExecuted]="productionOrder.currentTechnologicalProcedureExecuted"
            [showAdminButtons]="false" [showStartButton]="true" [showFinishButton]="true"
            (finishTechnologicalProcedureBtnClicked)="onFinishTechnologicalProcedureClicked($event)"
            (startTechnologicalProcedureBtnClicked)="onStartTechnologicalProcedureClicked($event)">
        </app-object-of-labor-technological-procedure>
    </div>
</div>

<div class="container">
    <ngb-toast class="text-light" *ngIf="toastMessage" [autohide]="true" (hidden)="onHideToast()"
        [ngClass]="isError ? 'bg-danger' : 'bg-success'">{{toastMessage}}</ngb-toast>
</div>